version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: education-center-mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_DATABASE: education-center
    volumes:
      - mongo-data:/data/db
    networks:
      - education-network

  redis:
    image: redis:7-alpine
    container_name: education-center-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
    networks:
      - education-network

volumes:
  mongo-data:
  redis-data:

networks:
  education-network:
    driver: bridge
